* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f3f0;
    color: #222;
}

nav {
    font-family: 'Creepster', cursive;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #f0a500;
}

.content {
    margin-top: 90px;
    padding: 20px;
}

.seccion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 20px;
}

.seccion .texto {
    width: 60%;
}

.seccion .imagen {
    width: 40%;
}

.seccion .imagen img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


/*footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-top: 40px;
} */
footer {
    font-size: 18px;
  background-color: #000;
  color: #fff;
  font-family: 'Creepster', cursive;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-top: 2px solid crimson;
}

.footer-section {
  margin: 10px;
  text-align: center;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section li {
  margin: 5px 0;
}

footer p {
  margin: 5px 0;
}
h2{
 font-family: 'Creepster', cursive;}
 
img {
    width: 80px;
    height: 300px;
}
.texto{
    margin-left: 100px;
}
h1{
    font-family: 'Creepster', cursive;
}